<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="x-icon" href="/static/img/icon.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="text-center">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" style="width: 55%; margin-bottom: 20px;" alt="Tutify" class="intro mt-5">
        <h1>!Tutify مرحبًا بكم في </h1><br>
        <a href="{{ url_for('main') }}" class="btn btn-primary rounded-4 p-3 mt-3">دخول</a>
    </div>
</body>
</html>